
ul.bullet {
    padding-left: revert;
}

ul.bullet > li {
    list-style: inherit;
}

// the following parent div style is used for  
// displaying the textboxes or any element on the same row
.parent {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
