div#root {
    width: 100%
}

ul.bullet {
    padding-left: revert;
}

ul.bullet > li {
    list-style: inherit;
}

div.hide-label label {
    visibility: hidden;
    height: 0px;
    margin-bottom: 0px;
}
